.form-container {
  background-color: #eeeef8;
  width: 93%;
  height: 73%;
  margin: 20px auto;
  font-family: "Bona Nova SC", serif;
  align-items: right;
  /* padding-bottom: 40px; */
  height: 400px;
  
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}