.content {
  border: 2px solid black;
  margin-top: -250px;
  margin-left: -200px;
  width: 1350px;
  height: 250px;
  background-color: #003366;
  color: white;
  border-radius: 20px;
  padding: 40px;
}
.content h1 {
  font-size: 40px;
  font-weight: 200;
}

.mydiv {
  width: 2250px;
  padding: 12px;
  /* margin: 16px auto; */
  margin-top: 60px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
